body{
    margin: 0;
    padding: 0;
}

.fourth{
    /* width: 100%; */
    /* height: 100vh; */
    background-color: aqua;
    /* align-items: center; */
    /* justify-content: center; */
    /* border-radius: 2px solid black; */
    /* display: flex; */
}

.child{
    /* display: flex; */
    /* flex-direction: column; */
    border-radius: 2px solid black;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.f1{
    font-size: 25px;
    font-weight: 300;

}

.live{
    text-decoration: none;
    color: rgb(24, 24, 232);
    font-weight: 300;
    font-size: 25px;
}